:root {
  --font-color: #fff;
  --background-color: #f1f8fe;
}

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: var(--font-color);
}

.current-forecast {
  border: 2px solid black;
  padding: 10px;
}

.future-forecast {
  margin-top: 4rem;
}

.future-forecast h4 {
  font-size: 2em;
  font-weight: bold;
}

.card {
  background-color: #465058;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 6px 5px #9caea9;
}
