:root {
  --font-color: #fff;
  --background-color: #f1f8fe;
}

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: var(--font-color);
}

.current-forecast a {
  text-decoration: none;
  color: black;
}

#no-Data {
  font-size: 2rem;
  background-color: #ccdad1;
  color: #38302e;
  padding: 0 10px;
  display: inline-block;
  border-radius: 0.3rem;
  transform: translate(-1px, -1px);

  /* box-shadow: 6px 5px #373c42; */
}

#no-Data:hover {
  transition: 0.2s;
  transform: translate(0, 0);
  box-shadow: 6px 5px #373c42;
}

.current-forecast h3 {
  font-size: 2.13rem;
}

.after-Search {
  padding: 10px;
  color: #fff;
  box-shadow: 6px 5px #9caea9;
  background-color: #465058;
  transform: translate(-1px, -1px);
}

.after-Search:hover,
.card:hover {
  transition: 0.5s;
  color: #38302e;
  background-color: #9caea9;
  box-shadow: 9px 8px #465058;
  transform: translate(0, 0);
}

h3 {
  font-weight: bold;
}

.weather-icon {
  width: 75px;
  margin: 10px 0;
}

.future-forecast {
  margin-top: 4rem;
}

.future-forecast h4 {
  font-size: 2em;
  font-weight: bold;
}

.card {
  transform: translate(-1px, -1px);
  background-color: #465058;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 6px 5px #9caea9;
}

#row {
  /* flex-wrap: wrap; */
  margin-top: 25px;
}
#no-Data-Found {
  font-size: 40px;
  max-width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ccdad1;
  color: #38302e;
  padding: 0 10px;
  border-radius: 0.3rem;
  box-shadow: -6px 5px #373c42;
}

#no-Data-Found h3 {
  font-size: 1.6rem;
  margin: 0; /* Remove default margin */
}

/* 
.no-Data {
  font-size: 2rem;
  background-color: #ccdad1;
  color: #38302e;
  padding: 0 10px;
  display: inline-block;
  border-radius: 0.3rem;
  transform: translate(-1px, -1px);
} */

.past-searchBtn {
  padding: 0.5rem;
  margin-bottom: 10px;
  border: none;
  color: #fff;
  transform: translate(-1px, -1px);
  border-radius: 0.3rem;
  background-color: #465058;
}

#pastSearchBtn {
  display: flex;
  flex-direction: column;
}

.past-searchBtn:hover {
  transition: 0.2s;
  transform: translate(0, 0);
  box-shadow: 6px 5px #ccdad1;
}
