:root {
  --font-color: #fff;
  --background-color: #f1f8fe;
}

/* Resetting default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
}

.header {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  color: var(--font-color);
}

.current-forecast {
  /* border: 2px solid black; */
  padding: 10px;
}

.current-forecast a {
  text-decoration: none;
  color: black;
}
/* 
:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: 0.3rem;
} */

#no-Data {
  font-size: 2rem;
  background-color: #ccdad1;
  color: #38302e;
  padding: 0 10px;
  display: inline-block;
  border-radius: 0.3rem;
  transform: translate(-1px, -1px);

  /* box-shadow: 6px 5px #373c42; */
}

#no-Data:hover {
  transition: 0.2s;
  transform: translate(0, 0);
  box-shadow: 6px 5px #373c42;
}

.current-forecast h3 {
  font-weight: bold;
  font-size: 2.13rem;
}

.weather-icon {
  width: 75px;
  margin: 10px 0;
}

.future-forecast {
  margin-top: 4rem;
}

.future-forecast h4 {
  font-size: 2em;
  font-weight: bold;
}

.card {
  background-color: #465058;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 6px 5px #9caea9;
}
